*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Roboto sans-serif;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1115;
  margin: 0 16rem;
  position: relative;
  height: 100%;
}

/*************HEADER *********************/
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  height: 90vh;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-link {
  margin-right: 60px;
  font-family: Roboto sans-serif;
  color: #505f98;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 24px;
}

.header__logo {
  color: #37447e;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
}
.header__button {
  width: 16rem;
  padding: 0.4rem 0;
  text-align: center;
  margin-right: 16.5rem;
  height: 2.5rem;
  background-color: #37447e;
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.header__button:hover {
  transform: scale(1.05);
}
/*************HEADER *********************/
.hero {
  position: absolute;
  top: 20rem;
  left: 0;
  width: 53.9rem;
  animation: slideLeft 1s ease-in-out;
}
.hero__title {
  font-size: 4rem;
  color: #091133;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
  font-family: Roboto;
}

.hero__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
  width: 100%;
  margin-top: 0.5rem;
  text-align: left;
}

.hero__buttons {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.hero__button {
  padding: 0.5rem;
  width: 18rem;
  text-align: center;
  border-radius: 2px;
  transition: transform 0.7s ease-in-out;
}
.hero__button:hover {
  transform: translateY(-1rem);
}
.btn1 {
  background-color: #37447e;
  color: white;
  margin-right: 2rem;
}
.btn2 {
  border: 2px solid #37447e;
  color: #37447e;
}

/* Path */
.svg {
  position: absolute;
  top: -15%;
  right: -70%;
  z-index: -2;
  width: 1440px;
}
.group {
  position: absolute;
  right: 0.3rem;
  top: 2%;
  z-index: -1;
  animation: slideRight 1s ease-in-out;
}
/****************Section-1*********************/
.section-1 {
  overflow-y: hidden;
  margin-top: 5rem;
  position: relative;
  display: flex;
  padding: 8rem 2rem 10rem 0;
  flex-direction: column;
  justify-content: space-between;
}
.section-1__title {
  color: #091133;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.section-1__text {
  width: 100%;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #6f7cb2;
}
.section-1__box {
  margin-bottom: 2rem;
  width: 40rem;
}
.section-1__image {
  display: flex;
  justify-content: space-between;
  width: 40rem;
}

.image__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

.section-1__image-2 {
  margin-left: 2rem;
}

.image__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #5d6970;
}

.section-1__woman {
  position: absolute;
  right: 0;
  top: -3rem;
}
/****************end section 2*******************/
.section-2 {
  overflow-y: hidden;
  margin-top: 3rem;
  position: relative;
  padding: 4rem 0 15rem 0;
}
.section-2__box {
  display: block;
  float: right;
  margin-bottom: 2rem;
  width: 40rem;
}
.section-2__title {
  color: #091133;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.section-2__text {
  width: 100%;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #6f7cb2;
}
.section-2__woman {
  position: absolute;
  left: 0;
  top: -8rem;
}
/****************end section 3*******************/
.section-3 {
  overflow-y: hidden;
  margin-top: 3rem;
  padding: 2rem 0 10rem 0;
  position: relative;
}
.section-3__box {
  display: block;
  float: left;
  margin-bottom: 2rem;
  width: 40rem;
}
.section-3__title {
  color: #091133;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}
.section-3__text {
  width: 100%;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #6f7cb2;
}

.section-3__woman {
  position: absolute;
  right: 1rem;
  top: -10rem;
}

/************Section price**************/

.price {
  background-image: url("./img/Rectangle.png");
  padding: 25rem 25rem 10rem 25rem;
  margin-top: 3rem;
  position: relative;
  overflow-y: hidden;
}

.price-path {
  position: absolute;
  top: -1%;
  left: 10%;
  right: 1%;
  height: 100%;
  z-index: -1;
}

.price {
  z-index: 2000;
}
.price-box {
  width: 50rem;
}

.price-title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.8rem;
  margin-bottom: 2rem;
}
.price-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #6f7cb2;
  text-align: center;
}

.price-number {
  text-align: center;
}

.price-number h3 {
  font-style: inherit;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 1px;
  color: #222f65;
}

.price-number p {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #222f65;
}

/**************footer*************/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e7ecff;
  padding: 2rem;
  font-family: Roboto;
  font-style: normal;
}

.footer-top {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
}
.footer-top__logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
}

.footer-top__button {
  width: 16rem;
  padding: 0.4rem 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-align: center;
  height: 2.5rem;
  background-color: #37447e;
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}

.footer-bottom {
  margin: 0 2rem;
  border-top: 1px solid #cdd1d4;
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  padding: 2rem;
  display: flex;
}
.footer__nav-link {
  margin-right: 1rem;
  color: #929ecc;
}
.footer__socials {
  padding: 2rem;
  display: flex;
}
.footer__socials-link {
  margin-right: 2rem;
}
.fab {
  color: #b0b8bc;
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
